USE MASTER
GO
/*
IF EXISTS( SELECT * FROM  sys.databases WHERE NAME = 'CAPNUOCTHUDUC')
   DROP DATABASE CAPNUOCTHUDUC
USE MASTER
GO
CREATE DATABASE CAPNUOCTHUDUC
GO	
*/
USE CAPNUOCTHUDUC
GO

CREATE TABLE TB_QUAN
(
	MAQUAN NVARCHAR(10) PRIMARY KEY NOT NULL,
	TENQUAN NVARCHAR(50)
)
GO

INSERT INTO TB_QUAN(MAQUAN, TENQUAN) VALUES('02', N'Quận 02')
INSERT INTO TB_QUAN(MAQUAN, TENQUAN) VALUES('09', N'Quận 09')
INSERT INTO TB_QUAN(MAQUAN, TENQUAN) VALUES('26', N'Thủ Đức')

CREATE TABLE TB_PHUONG
(
	MAQUAN NVARCHAR(10) NOT NULL,
	MAPHUONG VARCHAR(10) NOT NULL,
	TENPHUONG NVARCHAR(50),
	CONSTRAINT PR_PHUONG PRIMARY KEY(MAQUAN, MAPHUONG),
	CONSTRAINT FR_PHUONG FOREIGN KEY (MAQUAN) REFERENCES TB_QUAN(MAQUAN)
)
GO

INSERT INTO TB_PHUONG VALUES('02','01',N'Bình An')
INSERT INTO TB_PHUONG VALUES('02','02',N'An Khánh')
INSERT INTO TB_PHUONG VALUES('02','03',N'Thảo Điền')




---------------------------------------------------------------------------------
CREATE TABLE [dbo].[TB_DULIEUKHACHHANG_HUYDB](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[KHU] [varchar](255) NULL,
	[DOT] [varchar](255) NULL,
	[CUON_GCS] [nvarchar](max) NULL,
	[CUON_STT] [nvarchar](max) NULL,
	[LOTRINH] [varchar](255) NULL,
	[DANHBO] [varchar](255) NULL,
	[NGAYGANDH] [nvarchar](255) NULL,
	[HOPDONG] [varchar](255) NULL,
	[HOTEN] [nvarchar](max) NULL,
	[SONHA] [nvarchar](max) NULL,
	[TENDUONG] [nvarchar](max) NULL,
	[PHUONG] [nvarchar](255) NULL,
	[QUAN] [nvarchar](255) NULL,
	[CHUKY] [nvarchar](255) NULL,
	[CODE] [nvarchar](255) NULL,
	[CODEFU] [nvarchar](255) NULL,
	[GIABIEU] [nvarchar](255) NULL,
	[DINHMUC] [nvarchar](255) NULL,
	[SH] [nvarchar](255) NULL,
	[HCSN] [nvarchar](255) NULL,
	[SX] [nvarchar](255) NULL,
	[DV] [nvarchar](255) NULL,
	[CODH] [nvarchar](255) NULL,
	[HIEUDH] [nvarchar](255) NULL,
	[CAP] [nvarchar](255) NULL,
	[SOTHANDH] [nvarchar](255) NULL,
	[CHITHAN] [nvarchar](255) NULL,
	[CHIGOC] [nvarchar](255) NULL,
	[VITRIDHN] [nvarchar](255) NULL,
	[NGAYTHAY] [datetime] NULL,
	[NGAYKIEMDINH] [datetime] NULL,
	[SODHN] [nvarchar](255) NULL,
	[MSTHUE] [nvarchar](255) NULL,
	[SOHO] [nvarchar](255) NULL,
	[CHISOKYTRUOC] [nvarchar](255) NULL,
	[SOPHIEU] [nvarchar](255) NULL,
	[NGAYHUY] [datetime] NULL,
	[HIEULUCHUY] [nvarchar](255) NULL,
	[NGUYENNHAN] [nvarchar](max) NULL,
	[GHICHU] [nvarchar](max) NULL,
	[TAILAPDB] [bit] NULL,
	[NGAYTAILAP] [datetime] NULL,
	[TL_SOPHIEU] [nvarchar](255) NULL,
	[TL_HIEULUC] [nvarchar](255) NULL,
	[TL_DOT] [nvarchar](255) NULL,
	[CREATEDATE] [datetime] NULL,
	[CREATEBY] [nvarchar](100) NULL,
	[MODIFYDATE] [datetime] NULL,
	[MODIFYBY] [nvarchar](100) NULL,
	[MADMA] [varchar](255) NULL,
	[CHUKYDS] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO

CREATE TABLE [dbo].[TB_HIEUDONGHO](
	[HIEUDH] [varchar](20) NOT NULL,
	[TENDONGHO] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[HIEUDH] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO


CREATE TABLE [dbo].[TB_THAYDHN](
	[ID_BAOTHAY] [int] IDENTITY(1,1) NOT NULL,
	[DHN_LANTHAY] [int] NULL,
	[DHN_LOAIBANGKE] [nvarchar](max) NULL,
	[DHN_SOBANGKE] [int] NULL,
	[DHN_STT] [int] NULL,
	[DHN_DANHBO] [nvarchar](max) NULL,
	[DHN_NGAYBAOTHAY] [datetime] NULL,
	[DHN_DOT] [nvarchar](max) NULL,
	[DHN_TODS] [nvarchar](max) NULL,
	[DHN_NGAYGAN] [datetime] NULL,
	[DHN_CHITHAN] [nvarchar](max) NULL,
	[DHN_CHIGOC] [nvarchar](max) NULL,
	[DHN_HIEUDHN] [nvarchar](max) NULL,
	[DHN_CODH] [nvarchar](max) NULL,
	[DHN_CAP] [nvarchar](max) NULL,
	[DHN_SOTHAN] [nvarchar](max) NULL,
	[DHN_CHISO] [int] NULL,
	[DHN_LYDOTHAY] [nvarchar](max) NULL,
	[DHN_GHICHU] [nvarchar](max) NULL,
	[DHN_NGAYCHUYEN] [datetime] NULL,
	[DHN_CREATEDATE] [datetime] NULL,
	[DHN_CREATEBY] [nvarchar](max) NULL,
	[DHN_MODIFYDATE] [datetime] NULL,
	[DHN_MODIFYBY] [nvarchar](max) NULL,
	[HCT_CHISOGO] [int] NULL,
	[HCT_SOTHANGO] [nvarchar](max) NULL,
	[HCT_HIEUDHNGAN] [nvarchar](max) NULL,
	[HCT_CODHNGAN] [nvarchar](max) NULL,
	[HCT_CAP] [nvarchar](max) NULL,
	[HCT_SOTHANGAN] [nvarchar](max) NULL,
	[HCT_CHISOGAN] [int] NULL,
	[HCT_LOAIDHGAN] [bit] NULL,
	[HCT_NGAYGAN] [datetime] NULL,
	[HCT_NGAYKIEMDINH] [datetime] NULL,
	[HCT_CHITHAN] [nvarchar](max) NULL,
	[HCT_CHIGOC] [nvarchar](max) NULL,
	[HCT_TRONGAI] [bit] NULL,
	[HCT_LYDOTRONGAI] [nvarchar](max) NULL,
	[HCT_CREATEDATE] [datetime] NULL,
	[HCT_CREATEBY] [nvarchar](max) NULL,
	[HCT_MODIFYDATE] [datetime] NULL,
	[HCT_MODIFYBY] [nvarchar](max) NULL,
	[XLT_XULY] [bit] NULL,
	[XLT_CHUYENXL] [nvarchar](200) NULL,
	[XLT_NGAYCHUYEN] [datetime] NULL,
	[XLT_TRAKQ] [bit] NULL,
	[XLT_KETQUA] [nvarchar](200) NULL,
	[XLT_NGAYCAPNHAT] [datetime] NULL,
	[XLT_CREATEDATE] [datetime] NULL,
	[XLT_CREATEBY] [nchar](10) NULL,
 CONSTRAINT [PK__TB_THAYDHN__09DE7BCC] PRIMARY KEY CLUSTERED 
(
	[ID_BAOTHAY] ASC
)WITH (PAD_INDEX  = OFF, STATISTICS_NORECOMPUTE  = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS  = ON, ALLOW_PAGE_LOCKS  = ON) ON [PRIMARY]
) ON [PRIMARY]

GO